{# BaseBundle/Resources/views/Email/ConfirmationMail.html.twig #}
<html>
	<head>
		<style type="text/css">
			body { font-family: Helvetica, Arial, sans-serif; }
		</style>
	</head>
	<body>
		<p>Url de validation: {{ url }}</p>
		<p>
			Kind Regards,<br />
			Your To Do App
		</p>
	</body>
</html>